#trip {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

#trip td, #trip th {
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#trip tr{
    background-color: #f2f2f2;
}    
#trip tr:hover {background-color: darkkhaki;color:white;}

#trip th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: white;
    color: black;
    border: none;
}
button{
    cursor: pointer;
    background-color: burlywood;
    color: brown;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 6px;
    margin-left: 6px;
    display: inline-block;
    position:static;
    float: left;
}



#pageTitle{
    text-align: center;
    font-size: 24px;
    color: grey;
}



.searchform {
    display: inline-block;
    position:static;
    float: left;
}

.searchform input[type="text"]
{
    padding: 10px 40px 10px 40px;
    color: darkslategray;
    margin: 0 auto;
    background: burlywood;
    font-size: 18px;
    text-align: left;
    font-style:oblique;
    border: 2px solid brown;
    border-width: 1px 1px 1px;
    margin-bottom: 10px;
}

.searchform input[type="submit"]
{

    padding: 10px 20px 10px 20px;
    color: darkslategray;
    margin: 0 auto;
    background: burlywood;
    font-size: 18px;
    text-align: center;
    font-style:oblique;
    border: 2px solid brown;
    border-width: 1px 1px 1px;
    margin-bottom: 10px;
}

.searchform input[type="text"]:hover
{
    background: darkkhaki;
    border: 1px solid brown;

}
.searchform input[type="submit"]:hover
{
    background: darkkhaki;
    border: 1px solid brown;
    cursor: pointer;
    color:white;
}





.quantityform {
text-align: center;
}

.quantityform input[type="number"]
{
    padding: 10px 15px 10px 15px;
    color: darkslategray;
    margin: 0 auto;
    background: burlywood;
    font-size: 18px;
    text-align: center;
    font-style:oblique;
    border: 2px solid brown;
    border-width: 1px 1px 1px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.quantityform input[type="submit"]
{

    padding: 10px 20px 10px 20px;
    color: darkslategray;
    margin: 0 auto;
    background: burlywood;
    font-size: 18px;
    text-align: center;
    font-style:oblique;
    border: 2px solid brown;
    border-width: 1px 1px 1px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.quantityform input[type="number"]:hover
{
    background: darkkhaki;
    border: 1px solid brown;

}
.quantityform input[type="submit"]:hover
{
    background: darkkhaki;
    border: 1px solid brown;
    cursor: pointer;
    color:white;
    
}

#quantitytext{
    font-size: 22px;
    display: inline-block;
    position: relative;
    color:brown;
}




.tripDescText{
    margin-top: 4px;
    border: 1px solid;
    width: 480px;
    height: 110px;
    background-color: whitesmoke;
    font-size: 15px;
    padding: 5px;
}

